.searchForm {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: rgb(247, 255, 255);
  height: 48px;
  padding: 6px 35px 6px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid gainsboro;
}

.input {
  padding: 10px;
  border-radius: 10px;
  background: none;
  border: none;
}

.input:focus {
  outline: none;
}

.searchForm input[type="text"] {
  width: 300px;
}

.searchForm input[type="submit"] {
  width: 150px;
}

.wrapper {
  position: relative;
}

.close {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 7px;
  top: 17px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.4s linear;
}

.close:hover {
  opacity: 0.7;
}

.close__icon {
  display: block;
  width: 12px;
  aspect-ratio: 1;
  padding: 6px;
}
